/* Fonts */

$base-font: 'Montserrat', sans-serif;

////

/* Colors */

$body-bg: #E5E5E5;
$accent: #E8B973;
$green: #50BA75;
$grey: #D5D5D5;
$dark-gray: #2B2B2B;
$yellow: #EAC871;
$black: #1B2326;
$terracota: #9d4541;
$houseSelection: #E7A251;

////
